body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: hsl(0, 0%, 95%);
}

img {
	width: 100%;
	height: auto;
}

#wrapper {
	width: 100%;
	height: 97vh;
	display: grid;
	place-content: center;
}

main {
	max-width: 47em;
	height: 28em;
	border-radius: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

section {
	color: hsla(0, 0%, 100%, 0.75);
	padding: 2.5em;
	display: grid;
}

#vehicle {
	width: 4em;
}

section p {
	font-size: 0.8em;
}

header {
	color: hsl(0, 0%, 95%);
	font-family: "Big Shoulders Display", cursive;
	font-size: 2em;
	font-weight: 700;
}

p {
	font-family: "Lexend Deca", sans-serif;
}

.sedan {
	background-color: hsl(31, 77%, 52%);
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.attribution {
	margin: auto;
	width: 60%;
	text-align: center;
}

a {
	text-decoration: none;
	color: hsl(31, 77%, 52%);
}

#sedan-button {
	color: hsl(31, 77%, 52%);
	width: 9em;
	height: 3em;
	border-radius: 3em;
	border: none;
	font-weight: bold;
}

#sedan-button:hover {
	background-color: hsl(31, 77%, 52%);
	color: hsla(0, 0%, 100%, 0.75);
	border: 2px white solid;
	cursor: pointer;
}

.suv {
	background-color: hsl(184, 100%, 22%);
}

#suv-button {
	color: hsl(184, 100%, 22%);
	width: 9em;
	height: 3em;
	border-radius: 3em;
	border: none;
	font-weight: bold;
}

#suv-button:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsla(0, 0%, 100%, 0.75);
	border: 2px white solid;
	cursor: pointer;
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

#luxury-button {
	color: hsl(179, 100%, 13%);
	width: 9em;
	height: 3em;
	border-radius: 3em;
	border: none;
	font-weight: bold;
}

#luxury-button:hover {
	background-color: hsl(179, 100%, 13%);
	color: hsla(0, 0%, 100%, 0.75);
	border: 2px white solid;
	cursor: pointer;
}

@media (max-width: 550px) {
	#wrapper {
		height: 100%;
	}
	main {
		display: flex;
		flex-direction: column;
		height: 75em;
		justify-content: center;
	}

	section {
		max-width: 14em;
		height: 20em;
		padding: 1.5em;
	}

	.sedan {
		border-top-left-radius: 1em;
		border-bottom-left-radius: 0em;
		border-top-right-radius: 1em;
	}

	.luxury {
		border-top-right-radius: 0em;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;
	}

	.attribution {
		font-size: 0.9em;
	}
}
